<ion-app>
  <link
    href="https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap"
    rel="stylesheet"
  />
  <ion-content class="project-body">
    <div class="app">
      <div class="form-container">
        <ion-img
          src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_White.png"
          class="spotify-logo"
        ></ion-img>
        <ul class="menu-list">
          <li class="menu-list-item selected">
            <a href="#">CADASTRO</a>
          </li>
          <li class="menu-list-item">
            <a href="#">LOGIN</a>
          </li>
        </ul>
        <form class="formulario">
          <ion-input
            placeholder="Insira seu usuário"
            fill="outline"
            class="username-input"
            label="Usuário"
          ></ion-input>
          <ion-input
            placeholder="Insira sua senha"
            fill="outline"
            class="password-input"
            label="Senha"
          ></ion-input>
          <button type="submit" class="submit-cadastro">Cadastrar-se</button>
          <span class="forgot-password">Esqueceu a senha?</span>
        </form>
      </div>
    </div>
  </ion-content>
</ion-app>
